@import url(../../fonts.css);
@import url(../../index.css);

.header {
    background: url(../../img/main_bgr.jpg) center top no-repeat #fff;
    background-size: cover;
    min-width: 1000px;
    min-height: 800px;
}

.header_wrap {
    padding-bottom: 65px;
}

.header_top {
    display: grid;
    grid-template-columns: 150px 200px 1fr;
    grid-column-gap: 20px;
    padding-top: 30px;
    padding-left: 50px;
    justify-content: center;
}

.header_title {
    font-family: aksent, Arial, sans-serif;
    font-size: 18px;
    color: #0a1947;
    letter-spacing: 3px;
    align-items: center;
    max-width: 100%;
}

.capital_letter {
    color: #535554;
}

.header_info {
    margin-top: 15%;
    margin-bottom: 15%;
}

.main_title {
    font-family: mazzardsoft, Arial, sans-serif;
    font-size: 55px;
    color: #0f1951;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 15px;
}

.arrow_img {
    max-width: 128px;
}

.img_feed {
    width: 250px;
    margin-top: 20px;
    animation: animate_rotate_2 9s linear infinite;

}

@keyframes animate_rotate_2 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(359deg);
    }

}

@keyframes animate_arrow {
    0% {
        bottom:0;
    }
    50% {
        bottom:10px;
    }
    100% {
        bottom:0;
    }
}

.logo_div {
    position: fixed;
    top: 55%;
    left: 80%;
    z-index:1000;
    width: 17%;
    height: 17%;
}

/*.logo_div_2{
    position:relative;
}*/

.logo_div_3{
    position: relative;
}

.logo_div img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
    max-width: 90%;
}

.logo_link {
    display: block;
    max-width: 90%;
}

.logo_img {
    display: block;
    max-width: 90%;
}

.header_text {
    text-align: center;
}

.header_link {
    font-size: 35px;
    line-height: 75px;
    color: #be6b0f;
    font-family: pgr, Arial, sans-serif;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 12px;
    transition-duration: 500ms;
    transition-property: letter-spacing;

}

.header_link:hover {
    letter-spacing: 15px;
}

.btn_arrow {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    cursor: pointer;
    transition: 1s;
}

.btn_arrow:hover {
    animation: animate_arrow 1s linear infinite;
}

@media (max-width: 900px) {
    .header_title {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .main_title {
        font-size: 60px;
        letter-spacing: 10px;
    }
}

@media (max-width: 700px) {
    .header_top {
        grid-template-columns: auto;
        justify-items: center;
    }
}

@media (max-width: 580px) {
     .header_link {
        font-size: 17px;
        line-height: 35px;
        letter-spacing: 6px;
    }

}


/* BTN ANIMATION*/
.btn_down {
    color: #0ae7f0;
    background: #0c002b;
    border: 0;
    font-size: 15px;
    font-family: simpler, Arial, sans-serif;
}

.a_down {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1670f0;
    padding: 30px 60px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    background: #0c002b;
    overflow: hidden;
}

a.a_down:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}

a.a_down span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

a.a_down span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

a.a_down span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

a.a_down span:nth-child(4) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

