@import url(../../fonts.css);

.header_menu {
/*    font-family: simpler, Arial, sans-serif;
    font-size: 12px;*/
}

.menu_list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
}

.menu_item {
    font-family: simpler, Arial, sans-serif;
    font-size: 12px;
    line-height: 30px;
    color: #0a1947;
    letter-spacing: 6px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 65px;
    transition: 0.5s;
    display: block;
}

@media (max-width: 900px) {
    .menu_item {
        font-size: 7px;
        letter-spacing: 3px;
        line-height: 15px;
        margin-left: 30px;
    }
}


@media (max-width: 700px) {
    .menu_list {
        justify-content: center;
    }
}

.menu_item:active {
    color: #ffffff;
}

.menu_item:hover {
     transform: scale(1.5);

 }

.menu_item:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9e9fa6;
    transition: transfrom 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
    border-radius: 5%;
}

.menu_item:hover:before {
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
    }

.menu_list:hover > div {
    opacity: .5;
    filter: blur(2px);
}

.menu_list:hover > div:hover{
    opacity: 1;
    filter: blur(0);
}

.menu_list:hover {
    transform: scale(1);

}


.active_item {
    font-family: simpler, Arial, sans-serif;
    color: #bebd20;
}

.active_item:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}
