@import url(../../fonts.css);

.header_menu {
    font-family: simpler, Arial, sans-serif;
    font-size: 11px;
}

nav.menu_list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu_item {
    font-family: simpler, Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #0a1947;
    letter-spacing: 6px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 65px;
    transition: 0.5s;
    display: block;
}

.menu_item:active {
    color: #be680b;
}

.menu_item:hover {
     transform: scale(1.5);

 }

.menu_item:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0ae7f0;
    transition: transfrom 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

.menu_item:hover:before {
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
    }

.menu_list:hover > div {
    opacity: .5;
    filter: blur(2px);
}

.menu_list:hover > div:hover{
    opacity: 1;
    filter: blur(0);
}

.menu_list:hover {
    transform: scale(1);

}


.active_item {
    font-family: simpler, Arial, sans-serif;
    color: #be680b;
}

.active_item:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}
