.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 50px 350px 50px;
  grid-template-areas:
          "h h h h h h h h h h h h"
          "m m m m m m m m m m m m"
          "c c c c c c c c c c c c"
          "f f f f f f f f f f f f";
}

.header{
   grid-area: h;
 }

.menu{
  grid-area: m;
}

.context{
  grid-area: c;
}

.footer{
  grid-area: f;
}

