@font-face {
    font-family: 'Lato';
    src: local('Pacifico Regular'), url('https://fonts.googleapis.com/css?family=Lato&display=swap');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aksent';
    src: local('Pacifico Regular'), url("./fonts/Aksent.woff"), url("./fonts/Aksent.woff2") ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pgr';
    src: local('Pacifico Regular'), url("./fonts/PGR.woff"), url("./fonts/PGR.woff2") ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'simpler';
    src: local('Pacifico Regular'), url("./fonts/SIMPLER.woff"), url("./fonts/SIMPLER.woff2") ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tauern';
    src: local('Pacifico Regular'), url("./fonts/TauernCTTRegular.woff"), url("./fonts/TauernCTTRegular.woff2") ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mazzard';
    src: local('Pacifico Regular'), url("./fonts/MazzardM-Light.woff"), url("./fonts/MazzardM-Light.woff2") ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mazzardsoft';
    src: local('Pacifico Regular'), url("./fonts/MazzardSoftM-Light.woff"), url("./fonts/MazzardSoftM-Light.woff2") ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nebulosa';
    src: local('Pacifico Regular'), url("./fonts/nebulosa_display_solid.otf"), url("./fonts/nebulosa_display_stencil.otf") ;
    font-weight: normal;
    font-style: normal;
}
