/*@import url("/src/fonts.css");*/

* {
  margin: 0;
  padding: 0;
}

.container{
  max-width: 100%;
  min-width: 320px;
}

.wrap{
  max-width: 1900px;
  min-width: 290px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-size:16px;
  color:#000;
  overflow-wrap: break-word;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}*/
.btn_arrow{
  position: relative;
  margin: 0 auto;
}

/*ARROW */
.arrow-7 {
  margin: 30px;
  position: absolute;
  bottom: 50px;
}
.arrow-7 span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #337AB7;
  border-right: 5px solid #337AB7;
  transform: rotate(45deg);
  margin: -20px;
  animation: arrow-7 3s infinite;
}
.arrow-7 span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes arrow-7 {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
