.contacts_container {
    /*background: url(../../img/background_contacts.png) center top no-repeat #fff;*/
    background: #a1cbdd center top no-repeat;
    background-size: cover;
    display: grid;
    margin-top: 1px;
    grid-template-rows: 650px 150px 100px;
    min-height: 100vh;
}

.span_header{
    font-size: 18px;
}

.contacts_header {
    display: flex;
    justify-content: space-between;
    align-self: end;
}

.contacts_text {
    font-family: mazzardsoft, sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    margin: 100px 100px 100px 35px;
}

.contacts_content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /*background: white;*/
    background: #a1cbdd center top no-repeat;
}

.contacts_type {
    font-family: mazzardsoft, sans-serif;
    font-size: 20px;
    font-weight: bold;
    /*border-bottom: 1px solid #0c002b;*/
}

.contacts_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 800px;
    margin: 35px;
    color: #fff;
    /*border-bottom: 1px solid #0c002b;
    border-top: 1px solid #0c002b;*/
}

.contacts_list div span {
    font-family: mazzardsoft, sans-serif;
    font-size: 20px;
    font-weight: normal;
    /*border-bottom: 1px solid #0c002b;*/
}

.contacts_wrap{
    width: 400px;
    color: #fff;
    font-family: mazzardsoft, sans-serif;
    font-size: 15px;
}

.contacts_wrap input{
    width: 355px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-family: mazzardsoft, sans-serif;
}

.input_btn{
    background-color: #9e9fa6;
    max-width: 100%;
}

.red{
    color: #f1002b;
    font-size: 25px;
}

.form_input{
    display: flex;
    flex-direction: column;
}

textarea{
    width: 350px;
    height: 160px;
    margin-top: 10px;
}

.contacts_wrap input, textarea{
    border: 1px solid #0c002b;
    border-radius: 5px;
}

.btn_block{
    margin-top: 20px;
    }

@media (max-width: 700px){
    .contacts_wrap input{
        width: calc(360px/2);
        height: calc(40px/2);
        font-size: calc(15px/2);
        margin-bottom: 30px;
        margin-top: 10px;
        font-family: mazzardsoft, sans-serif;
    }

    ::placeholder {
        color: grey;
        font-size: 0.01em;
    }

}

.form_input input[type="text"]{
    padding-left: 5px;
}

.contacts_wrap textarea{
    padding: 5px;
}